:root {
  --clr-primary-100: #b7a281;
  --clr-primary-200: #9e616a;

  --clr-neutral-100: #818181;
  --clr-neutral-200: #a2a2a2;
  --clr-neutral-300: #d9d9d9;
  --clr-neutral-400: #f8f8f8;
  --clr-neutral-500: #ffffff;

  --ff: "Rubik", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  background-color: #f6eddf;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr 1fr;
}

/* icon / nav */

.iconParent {
  background: var(--clr-neutral-500);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 100vh;
  gap: 2rem;
}

.iconParent p {
  font-size: 14px;
}

.iconParent a {
  color: var(--clr-neutral-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.icon {
  margin-top: 1rem;
}

.imgActive {
  background: var(--clr-primary-100);

  padding: 1rem;
  border-radius: 13px;
}

.logout {
  margin-top: 3rem;
}

/* content */

.nav {
  display: flex;
  align-items: center;
  gap: 20rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.input {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-300);

  border: none;
  padding: 0.5rem 1rem;
  width: 17.6rem;
  height: auto;
  border-radius: 10px;
}

::placeholder {
  color: var(--clr-neutral-100);
}

/* menu */

.menu {
  display: flex;
  gap: 1.5rem;
}

.iconMenu {
  background: var(--clr-neutral-500);

  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.iconMenu p {
  color: var(--clr-neutral-200);
}

/* ordeMenu */

.orderMenu {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.menu1 {
  background: var(--clr-neutral-500);

  padding: 1rem;
  border-radius: 10px;
}

/* order img */

.imgTextWrapper {
  display: flex;
  gap: 1rem;
}

.orderMenuImg {
  background: var(--clr-neutral-300);

  border-radius: 10px;
  padding: 1.2rem 0.3rem;
}

.menuTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.menuTextWrapper p {
  color: var(--clr-neutral-100);

  max-width: 22ch;
  font-size: 15px;
}

.menuText {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* status order */

.statusOrder {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 1.5rem;
}

.tempParent {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tempImgBg {
  background: var(--clr-neutral-300);

  padding: 0.2rem 0.5rem;
  border-radius: 100vw;
}

/* size */

.sizeOrderSub {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.sizeOrderSub p {
  font-size: 1.4rem;
  font-weight: var(--fw-regular);
}

.sizeOrderBg {
  background: var(--clr-neutral-300);

  padding: 0.2rem 0.7rem;
  border-radius: 100vw;
}

/* reqorderbg */

.reqOrder {
  display: flex;  
  gap: 5rem;
  margin-top: 3rem;
}

.reqOrderBg {
  background: var(--clr-neutral-300);

  padding: 0.6rem 0.3rem;
  border-radius: 100vw;
}

.gula{
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem
}

.es{
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem
}

.orderActive {
  outline: 3px solid var(--clr-primary-200);
}

/* order */

.order {
  background: var(--clr-neutral-500);
  width: 400px;
  padding: 1rem 2rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem 2rem; */
}

.profile img {
  border-radius: 100vw;
}

/* bill */

.bill {
  margin-top: 2rem;
}

.bill1 {
  display: flex;
}
