:root {
  --clr-primary-100: #b7a281;
  --clr-primary-200: #9e616a;
  --clr-primary-300: #f6eddf;

  --clr-neutral-100: #818181;
  --clr-neutral-200: #a2a2a2;
  --clr-neutral-300: #d9d9d9;
  --clr-neutral-400: #f8f8f8;
  --clr-neutral-500: #ffffff;

  --ff: "Rubik", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  background: var(--clr-primary-300);
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 0.55fr 2.5fr 1.3fr;
}

/* icon  */

.iconParent {
  background: var(--clr-neutral-500);

  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 100vh;
  gap: 2rem;
}

.iconParent p {
  font-size: 14px;
}

.iconParent a {
  color: var(--clr-neutral-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.icon {
  margin-top: 1rem;
}

.imgActive {
  background: var(--clr-primary-100);

  padding: 1rem;
  border-radius: 13px;
}

.logout {
  margin-top: 3rem;
}

/* content */

.kategoriWrapper {
  display: flex;
  align-items: center;
  gap: 22rem;

  margin-top: 2rem;
  margin-bottom: 2rem;
}

.magnifier {
  position: absolute;
  transform: translateX(-2rem) translateY(0.4rem);
}

.input {
  color: var(--clr-neutral-100);
  background: var(--clr-neutral-300);

  border: none;
  padding: 0.5rem 1rem;
  width: 17.6rem;
  height: auto;
  border-radius: 10px;
}

::placeholder {
  color: var(--clr-neutral-100);
}

/* kategorimenu */

.kategoriMenu {
  display: flex;
  gap: 1.34rem;
}

.iconMenu {
  background: var(--clr-neutral-500);

  padding: 1.5rem 2.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.iconMenu a {
  color: var(--clr-neutral-200);

  text-decoration: none;
}

/* ordeMenu */

.orderMenu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-top: 2rem;
}

.menu {
  background: var(--clr-neutral-500);

  padding: 1rem;
  border-radius: 10px;
  width: 22rem;
  height: auto;
}

/* order img */

.imgTextWrapper {
  display: flex;
  gap: 1rem;
}

.orderMenuImg {
  background: var(--clr-neutral-300);

  border-radius: 10px;
  width: 105px;
  height: 135px;
  padding: 1.2rem 0.3rem;
}

.menuTextWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.menuTextWrapperLongTitle {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menuTextWrapper p {
  color: var(--clr-neutral-100);

  max-width: 22ch;
  font-size: 15px;
}

.menuTextWrapperLongTitle p {
  color: var(--clr-neutral-100);

  max-width: 22ch;
  font-size: 15px;
}

.menuTextSub {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.menuTextSubLongTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* status order */

.statusOrder {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 1.5rem;
}

.temp {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.tempImgBg {
  background: var(--clr-neutral-300);

  padding: 0.2rem 0.5rem;
  border-radius: 100vw;
}

/* size */

.size {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.size p {
  font-size: 1.4rem;
}

.sizeBg {
  background: var(--clr-neutral-300);

  padding: 0.2rem 0.7rem;
  border-radius: 100vw;
}

/* reqorder */

.reqOrder {
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
}

/* reqorderbg */

.reqOrderBg {
  background: var(--clr-neutral-300);

  padding: 0.7rem 0.3rem;
  border-radius: 100vw;
}

.gula {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.es {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.orderActive {
  outline: 3px solid var(--clr-primary-200);
}

/* order */

.order {
  background: var(--clr-neutral-500);

  position: sticky;
  top: 0;
  height: 100vh;
  padding: 1rem 2rem;
}

/* profile */

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem 2rem; */
}

.profile img {
  border-radius: 100vw;
}

/* pesanan */

.pesanan {
  margin-top: 2rem;
}

/* bill */

.bill {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.orderSumAndPrice {
  display: flex;
  gap: 10rem;
  line-height: 2rem;
}

/* totalPembayaran */

.totalPembayaran {
  margin-top: 1rem;
}

.potonganMember {
  display: flex;
  align-items: center;
  gap: 8.8rem;
}

.total {
  display: flex;
  align-items: center;
  gap: 13rem;
  margin-bottom: 2rem;
}
/* metodePembayaran */

.metodePembayaran {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.metodePembayaranSub {
  background: var(--clr-primary-100);
  color: var(--clr-neutral-500);

  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 5px;
  padding: 0.6rem;
}

/* button */

.button {
  background: var(--clr-primary-100);
  color: var(--clr-neutral-500);
  font-weight: var(--fw-bold);

  border: none;
  border-radius: 10px;
  padding: 1rem 9.2rem;
  margin-top: 2rem;
  font-size: 1rem;
}

/* utility class */

.greyBg {
  background: var(--clr-neutral-300);

  padding: 0.7rem 0.7rem;
  border-radius: 5px;
}

.tes {
  padding-bottom: 2rem;
}
