:root {
  --clr-primary-100: #b7a281;
  --clr-primary-200: #9e616a;
  --clr-primary-300: #f6eddf;

  --clr-neutral-100: #818181;
  --clr-neutral-200: #a2a2a2;
  --clr-neutral-300: #d9d9d9;
  --clr-neutral-400: #f8f8f8;
  --clr-neutral-500: #ffffff;
  --clr-neutral-600: #000000;

  --ff: "Rubik", sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff);
  background: var(--clr-primary-300);
}

/* gridwrapper */

.gridWrapper {
  display: grid;
  grid-template-columns: 0.21fr 1fr 0.6fr;
}

/* icon  */

.iconParent {
  background: var(--clr-neutral-500);

  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 100vh;
  gap: 2rem;
}

.iconParent p {
  font-size: 14px;
}

.iconParent a {
  color: var(--clr-neutral-200);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.icon {
  margin-top: 1rem;
}

.imgActive {
  background: var(--clr-primary-100);

  padding: 1rem;
  border-radius: 13px;
}

.logout {
  margin-top: 3rem;
}

/* profile */

.profileBio {
  margin-top: 1.5rem;
}

.rounded {
  background: var(--clr-primary-300);

  position: absolute;
  width: 50px;
  height: 50px;
  padding: 4rem;
  margin-top: -2.5rem;
  margin-left: 2rem;
  border-radius: 100vh;
  z-index: 1;
}

.pp {
  margin-left: 2.3rem;
}

.pp p {
  color: var(--clr-neutral-100);
}

.imgHeader {
  border-radius: 16px;
}

.imgProfile {
  position: absolute;
  float: left;
  border-radius: 100vw;
  margin-top: -2rem;
  z-index: 2;
}

.tes {
  display: flex;
}

.veriAndLove {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.veriAndLoveSub {
  display: flex;
  gap: 14rem;
}

.socialIcon {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

/* grid wrapper content */

.gridWrapperContent {
  display: grid;
  grid-template-areas:
    "accountSetting daftarMenu"
    "accountSetting biodata"
    "accountSetting biodata";
  gap: 1rem;
  margin-top: 2.5rem;
  padding-bottom: 2rem;
}

.accountSetting {
  grid-area: accountSetting;
}

.daftarMenu {
  grid-area: daftarMenu;
}

.biodata {
  grid-area: biodata;
}
/* account setting */

.accountSetting {
  background: var(--clr-neutral-500);

  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0.6rem 1.5rem;
  border-radius: 0px 20px 20px 20px;
}

.accountSetting a {
  color: var(--clr-neutral-600);
  font-weight: var(--fw-bold);

  display: flex;
  gap: 0.7rem;
  align-items: center;
  margin-top: 1rem;
  text-decoration: none;
  max-width: 44ch;
}

.iconGap {
  margin-top: 17rem;
}

/* daftar menu */

.daftarMenu {
  background: var(--clr-neutral-500);

  padding: 1.6rem;
  border-radius: 20px;
}

.daftarMenuWrapper {
  display: flex;
  align-items: center;
  gap: 5.2rem;
  margin-bottom: 1rem;
}

.daftarMenuImg {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bg {
  background: var(--clr-neutral-300);

  padding: 2.5rem;
  border-radius: 10px;
}

.imgBgMenu {
  position: absolute;
  margin-top: -2rem;
  margin-left: -2.2rem;
}
/* biodata */

.biodata {
  background: var(--clr-neutral-500);

  border-radius: 20px;
  padding: 1rem 2rem;
  width: 520px;
  height: 450px;
}

.biodataSub {
  display: flex;
  gap: 5rem;
}

.except {
  margin-top: 0.5rem;
}

.line {
  border-top: 1px solid var(--clr-neutral-300);

  text-indent: -999px;
  margin-top: 0.7rem;
}

.dot {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(8rem) translateY(2.1rem);
}

.fill {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(10rem) translateY(2.2rem);
}

/* logowrapper */

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

/* andamungkinjugasuka */

.andaMungkinJugaSuka {
  background: var(--clr-neutral-500);

  padding: 1rem 2rem;
  border-radius: 20px;
  width: 400px;
  margin-top: 2rem;
}

.img {
  display: flex;
  margin-top: 2rem;
  border-radius: 10px;
}

.imgBg {
  background: var(--clr-neutral-300);
  border-radius: 10px;
  padding: 1rem;
  width: 5.55rem;
}

.imgText {
  margin-left: 1rem;
}

.imgText p {
  font-size: 15px;
}

.imgTextSub {
  /* font-weight: var(--fw-bold); */

  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 0.2rem;
}

button {
  background: var(--clr-primary-300);

  border: none;
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  margin-top: 2.9rem;
  transform: translateX(7.5rem);
}

/* utility classes */

.margin-top-100 {
  margin-top: 1rem;
}

.margin-top-200 {
  margin-top: 2rem;
}

.margin-top-300 {
  margin-top: 3rem;
}

.margin-top-400 {
  margin-top: 4rem;
}

.margin-left-300 {
  margin-left: 9rem;
}

.margin-left-800 {
  margin-left: 8rem;
}
