:root{
    --clr-primary-100: #B7A281;

    --clr-neutral-100: #A2A2A2;
    --clr-neutral-200: #D9D9D9;
    --clr-neutral-300: #F8F8F8;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #B7A281;
}